@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html,body{
    height: 100%;
    background-color: #FB6B6B;
}

body{
    position: relative;
}

.root{
    font-family: Recursive;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.app{
    width: 100%;
    height: 100%;
}

.tela-inicial{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: #FB6B6B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.tela-inicial > :nth-child(1){
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
    background-image: url(/assets/images/logo2.png);
    background-repeat: no-repeat;
    background-size: 100%;  
}

.tela-inicial,.topo-flashcards h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    font-family: Righteous;
    color: #FFFFFF;
}

.tela-inicial > :nth-child(3){
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    font-family: Recursive;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 30px;
}

.flashcards{
    width: 100%;
    height: 100%;
}

.tela-inicial h2{
    color: #D70900;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.topo-flashcards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    text-align: center;
    margin-bottom: 52px;
}

.topo-flashcards img{
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    line-break: auto;
}

.barra-inferior{
    position: fixed;
    width: 375px;
    min-height: 70px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}

.card ion-icon{
    font-size: 27px;
}

.face {
    width: 299px;
    height: 131px;
    font-family: Recursive;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    background-color: #FFFFD5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    margin-bottom: 25px;
}

.pergunta {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.escondido{
    display: none;
}